minimum_pre_commit_version: "3.0.0"

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: make lint
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: mypy-typecheck
        name: mypy typecheck
        entry: make typecheck
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
